@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #672e5b;
    --primary-color-hover: #58294E;
    --secondary-color: #ffb330;
}

.primary-btn {
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: bold;
}

.app-container {
    padding-right: 80px;
    padding-left: 80px;
}

.hero-section-hero {
    height: 360px !important;
}

@media (max-width: 1024px) {
    .app-container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .app-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .hero-section-hero {
        height: 300px !important;
    }
}

@media (max-width: 480px) {
    .app-container {
        padding-right: 10px;
        padding-left: 10px;
    }
}


/* Hide scrollbar for a specific element */
.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    /* For Webkit-based browsers (Chrome, Safari, Edge) */
    overflow-y: scroll;
    /* Ensure the element is scrollable */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}