@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1368px;
    margin: 0 auto;
}

:root{
    --primary-color: #58294E;
    --secondary-color: #ffb330;
    /* --primary-border-color: ; */
}
.primary-btn{
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: bold;
}
.secondary-btn{}