@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #58294E;
    --secondary-color: #ffb330;
}

.primary-btn {
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: bold;
}

/* Hide scrollbar for a specific element */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    
    /* For Webkit-based browsers (Chrome, Safari, Edge) */
    overflow-y: scroll; /* Ensure the element is scrollable */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
