.all-service-cont {
    position: relative;
}

.all-service-cont::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: 1px dashed var(--primary-color);
    height: 100%;
}

.all-service-cont .item {
    position: relative;
}

.all-service-cont .item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 48.4%;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    background: var(--primary-color);
    border-radius: 100%;
    z-index: 1;
}
@media screen and (max-width: 1080px) {
    .all-service-cont::after{
        display: none;
    }
    .all-service-cont .item::after{
        display: none;
    }
}